// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$primary: #000000; // Thats a sample how you could change a BootStrap variable.
$secondary: #0582C2;
$black-olive:#3A3A3A;

$gold-dark:#9F9329;
$bronze-yellow:#706A12;
$gold-light:#E9E197;

$ford-grey:#979797;

$dark-blue:#05537B;
$medium-blue:#136BAB;
$light-blue:#199BDD;
$super-light-blue:#F3F7FF;
$white-coffe:#E4E3D3;

$border-grey: #DCDCDC;

$xl:1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

body{
  // font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  line-height: 1.25;
  letter-spacing: 1px;
}

h2{
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}
.gold-gradient-text{
  background: -webkit-linear-gradient(45deg, $gold-dark, $gold-light 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn{
  height: 50px;
  font-size: 13px;
  border-radius: 4px;
  padding: 15px;
}

.btn-primary{
  background: $secondary;
  border: none;
  &:hover{
    background: rgba($secondary,0.5);
  }
}

.btn-primary.disabled, .btn-primary:disabled {
  border: none;
  background: rgba($secondary,0.5);
}

select, input{
  &:focus, &:focus-visible{
    border-color: rgba($secondary,0.5);
  }
}
.btn-gradient{
  border-radius: 4px;

  border-image-slice: 1;
  border-width: 2px; 
  border-image-source: linear-gradient(to top, $gold-dark, $gold-light);
  
  background-image: linear-gradient(#fff, #fff), radial-gradient(circle at top left, #fff, #fff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  &:hover{
    color: #fff;
    background-image: linear-gradient($secondary, $secondary), radial-gradient(circle at top left, $secondary, $secondary);
  }
}


.btn-iconed{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .btn-text{
  }
  .img-icon{
    width: 35px;
    height: 35px;
    margin-left: 8px;

  }
}

.border-transparent{
  border: none;
}


#wrapper-navbar{
  // .top-header-holder{
  //   height: 120px;
  //   background:#f1f1f1;
  // }
  #main-nav{

    .current-menu-parent{
      .dropdown-toggle{
        color: $secondary;
      }
    }
    padding-top: 20px;
    padding-bottom: 20px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
    }
    
    #navbarNavDropdown{
      background-color: #fff;
      padding: 15px;
      @media(max-width: $lg){
        z-index: 99;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
        transition: 0.3s;
      }
    }
    height: 120px;
    .dropdown-menu{
      border: none;
      padding: 15px;
    }
    .dropdown-toggle{
      &:after{
        color: $secondary;
      }
    }
    .navbar-toggler{
      .bar{
        height: 4px;
        border-radius: 4px;
        background-color: rgba($secondary,0.5);
        margin-bottom: 4px;
      }
      .menu-title{
        font-size: 14px;
        margin-top: 1em;
        @media (max-width:$xl){
          font-size: 12px;
        }
      }
    }
    .logo-holder{
      img{
        max-width: 309px;
        width: 100%;
        @media (max-width:$sm){
          max-width: 180px;
        }
      }
    }
    ul{
      flex:1;
      justify-content: space-between;
      &:before {
        content: '';
        display: list-item;
      }
      li{
        a{
          font-weight: 400;
          font-size: 14.5px;
          padding: 1.5em 0.5em;
          @media (max-width:$xl){
            font-size: 12px;
            padding: 1em 0.33em;
          }
        }
        &.current_page_item, .current-menu-item{
          a{
            color:$secondary;
          }
        }
      }
    }
  }
}


#wrapper-footer{
  background: linear-gradient(262.87deg, #EDD665 1.89%, #FBEB9D 13.1%, #E3D363 26.61%, #BBAE36 49.72%);
  height: 270px;
  color: #fff;
}
.page-banner{
  height: 500px;
  background: #ccc;
  ///background-image: url('../img/home-banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction:column;
  justify-content: center;
  h1{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 22px;
    @media (max-width:$lg){
      font-size: 18px;
    }

  }
  .text-extra{
     font-style: italic;
     font-weight: 300;
     font-size: 20px;
     margin-top: 22px;
     margin-bottom: 22px;
   }

   .buttons-holder{
     display: flex;
     flex-direction: row;
     @media(max-width:$md){
      flex-direction: column;
     }
     .btn{
       margin-right: 19px;
       &:last-child{
         margin-right: 0px;
       }
     }

   }
  .tags-holder{
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 40px;
    font-weight: 700;
    color: $secondary;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    @media (max-width:$lg){
      flex-direction: column;
      font-size: 38px;
    }
    div{
      padding-left: 40px;
      padding-right: 40px;
      &:first-child{
        padding-left: 0px;
      }
      border-width: 2px;
      border-style: solid;
      border-image: 
        linear-gradient(
          to top, 
          #9F9329, 
          rgba(0, 0, 0, 0)
        ) 1 100%;
      border-left: none;
      &:last-child{
        border: none;
      }
      @media (max-width:$lg){
        border:none;
        padding-left: 0px;
        padding-right: 0px;
      }

    }
  }

  .jumbo-text{
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    max-width: 500px;
  }
}


.page-pannel{
  padding-top: 70px;
  padding-bottom: 70px; 
  .paragraph-area{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    max-width: 715px;
    p{
      letter-spacing: 1.5px;
    }
  }
  h2{
    text-align: center;
  }
  b{
    font-weight: 500;
  }
}
.products-panel{
  .card-items{
    margin-top: 80px;
    justify-content: space-between;
    .card{
      max-width: 320px;
      max-height: 400px;
      padding: 0;

      @media(min-width:$xl){
        &:first-child{
          margin-top: -57px;
        }
        &:last-child{
          margin-top: 57px;
        }
      }

      @media(min-width:$lg) and (max-width:$xl){ 
        margin: auto;
        margin-bottom: 20px;
        margin: 15px !important;
       }

       @media(max-width:$lg){ 
         margin: auto;
        margin-bottom: 20px;
       }

      .btn-iconed{
        float: right;
      }
      .card-top{
        display: flex;
        flex-direction: row;
        background: $super-light-blue;
        max-height: 122px;
        .card-left{
          width: 122px;
          height: 122px;
          padding: 30px;
          margin: auto;
          display: flex;

          .card-icon{
            width: 100%;
          }
        }
        .card-right{
          padding: 15px;
          flex: 1;
          h6{
            font-weight: 600;
            font-size: 14px;
            color: $secondary;
          }
          p{
            color: $ford-grey;
            font-size: 12px;
          }
        }
        .card-dark{
          background: $dark-blue;
        }
        .card-medium{
          background: $medium-blue;
        }
        .card-light{
          background: $light-blue
        }
      }
    }
  }
}
.about-us-panel{
  height: 383px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('../img/about-us-bg.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services-panel{
  width: 100%;
  .s-card-items{
    width: 100%;
    margin-top: 80px;
    .card{
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;
      .card-left{
        background: $secondary;
        width: 80px;
        height: 80px;
        padding: 20px;
        .card-icon{
          width: 100%;
        }
      }
      .card-right{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span{
          font-family: 'Mulish', sans-serif;
          padding: 15px;
          font-size: 18px;
        }
      }
    }
  }
}

.card{
  border: none;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  &:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
  }
}


.multiple-items{
  
  max-height: 300px;
  @media(min-width: 361px) and (max-width: 767px){
    height: 130px;
  }

  @media(max-width: 360px){
    height: 100px;
  }

  @media(min-width: $md) and (max-width: $lg){
    height: 200px;
  }
  

  // @media(max-width: $lg){
  //   height: 200px;
  // }
  .slide-item{
    padding: 15px;
    height: 300px;
    img{
      width: 100%;
    }
  }

}

.work-area{
  margin-top: 80px;

}
.slide-icons{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 15px;
   margin-bottom: 15px;
   .prev,.next{
     width: 42px;
     height: 42px;
     margin: 15px;
   }
}

.lb-closeContainer{
  right: 23px;
  top: 23px;
  position: absolute;
  width: 15px;
  height: 15px;
  @media(max-width:$md){
    // margin-right: 15px;
    // position: absolute;
    // top: -10px;
    // right: 5px;
  }
  @media (max-width: 600px){
    right: 12px;
    top: 12px;
  }
  .lb-close{
    width: 15px;
    height: 15px;
    background-image: url('../img/icon/close.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }
}
.lb-outerContainer{
  height: unset!important;
  @media(min-width: $lg){
    width: 800px !important;
    padding-left: 131px;
  }
  @media (min-width: 600px) and (max-width: $lg){
    width: 700px !important;
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (max-width: 600px){
    width: 300px !important;
    padding: 30px;
  }
  padding-top: 49px;
  padding-right: 131px;
  padding-bottom: 49px;
  .lb-container{
    .lb-image{
      width: 100% !important;
      height:unset !important;
      margin: auto;
    }
    .lb-prev{
      background-image: url('../img/icon/chevron-left.svg');
      opacity: 1;
      left: 40px;
      position: absolute;
      @media (min-width: $md) and (max-width: $lg){
        left: 20px;
      }
      @media (max-width: 600px){
        left: -15px;
      }
    }

    .lb-next{
      background-image: url('../img/icon/chevron-right.svg');
      opacity: 1;
      right: 40px;
      position: absolute;
      @media (min-width: $md) and (max-width: $lg){
        right: 20px;
      }

      @media (max-width: 600px){
        right: -15px;
      }
    }
  }
}



.lb-data{
  display: none;
}

#wrapper-footer{
  // .cont-footer{
  //   // @media(min-width: $lg){
  //   //   margin-right: 110px;
  //   //   margin-left: 110px;
  //   // }
  // }
  height: auto;
  padding-top: 63px;
  padding-bottom: 63px;
  h6{
    font-size: 16px;
    font-weight: 700;
  }
  p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 35px;
  }
  .social{
    display: flex;
    flex-direction: row;
    align-items: center;

    @media(max-width:$md){
      margin-bottom: 35px;
    }
    .social-text{
      font-size:14.5px;
      font-weight: 700;
      margin-right: 29.5px;
    }
    .social-icon{
      display: block;
      margin-left: 14px;
      margin-right: 14px;
      width: 30px;
      height: 30px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  ul{

    li{
      a{
        font-weight: 400;
        font-size: 14.5px;
        color: #fff;
        padding: 6px;

      }
      &.current_page_item, .current-menu-item{
        a{
          color:#fff;
          font-weight: 700;
        }
      }
    }
   }
  
}





// woocommerce styles

.banner-light{

  color: #fff;
  .tags-holder{
    color: #fff;
  }

}


.banner-dark{
  color: #000;
  .tags-holder{
    color: #000;
  }
}


.banner-blue{
  color:$secondary;
  .tags-holder{
    color: $secondary;
  }
  h1,.jumbo-text{
    color: $secondary;
  }
}

#tab-description{
  h4{
    color: #000000;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  span{
    text-align: center;
  }
  .col-md-3{
    text-align: center;
  }
}

.usp-belt{
  height: 77px;
  @media (max-width:$md){ 
    height: 100px;
    text-align: center;
  }
  background: $white-coffe;
  padding-top: 21px;
  padding-bottom: 21px;
  .usp-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .usp{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media (max-width:$md){ 
        flex-direction: column;
      }
      .icon{
        img{
          width: 100%;
          max-width: 40px;
          max-height: 40px;
          @media (max-width:$md){ 
            
            
            max-width: 20px;
            max-height: 20px;
          }
        }
      }
      .text-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width:$md){ 
            
          align-items: center;
          margin-top: 5px;
        }
        span{
          display: block;
          margin-left: 19px;
          @media (max-width:$md){ 
            
            margin-left: 0;
          }
          &:first-child{
            font-size: 14px;
            font-weight: 600;
            @media (max-width:$md){
              font-size: 10px;
            }
          }
          &:last-child{
            font-size: 10px;
            font-weight: 400;
            @media (max-width:$md){
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}


.top-category-panel{
  @media(max-width:$md){
    padding-bottom: 0;
  }
  .entry-title{
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    color: $bronze-yellow;
    
  }
  .break-text{
    max-width: 160px;
  }
  .category-products{
  
    list-style: none;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    color: #414141;
    padding: 0;
    @media (max-width:$md){
      text-align: left;

    }
    li{
      margin-bottom: 25px;
    }
    .active{
      a{
        color: $secondary;
        font-weight: 600;
      }
    }
    
  }
}


.border-bottom{
  border-bottom: 1px solid #DCDCDC;
}

.woocommerce div.product div.images.woocommerce-product-gallery{
  width: 100%;
}

// .woocommerce div.product form.cart .variations{
//   tr{
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     td{
//       min-width: 100px;
//     }
//   }
// }

.woocommerce div.product .product_title{
  font-weight: 600;
  font-size: 16px;
  color: $secondary;
  margin-bottom: 30px;

}

.woocommerce div.product form.cart .variations label {
  font-weight: 500;
}

label {
  font-weight: 500;
  font-size: 14px;
  color:$secondary;
  margin: 0;

}
.v-label-holder{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}


.single_variation_wrap{
  display: flex;
  flex-direction: row;
  @media(max-width:$md){
    flex-direction: column;
  }
}

.price-holder{
  display: flex;
  flex-direction: column;
  min-width:120px;
  label{
    margin-bottom: 10px;
  }
  .price{
    font-size: 28px !important;
    color: $secondary !important;

  }
}
.woocommerce div.product form.cart .variations select{
  margin-right: 0;
}
.woocommerce-variation-description{
  display: none;
}

select {
  background: #FFFFFF;
  border: 1px solid #CED4DA;
  box-sizing: border-box;
  border-radius: 4px;
  height: 35px;
  padding: 3px;
  padding-left: 20px;
  width: 100% !important;


  background-image:url('../img/icon/bxs-down-arrow.svg');
  background-position:
    calc(100% - 14px) 14px,
    calc(100% - 20px) 14px,
    100% 0;
  background-size:
    10px 10px,
    10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.quantity-holder{
  display: block;
  width: 100%;
  .quantity{
    width: 100%;
    input{
      max-width: 50px;
    }
  }
}
.quantity-cart{

  @media(min-width: $md){
    float: right;
  }
  .single_add_to_cart_button{
    margin-top: 30px;
    width: 100%;
    @media(min-width: $md){
      max-width: 150px;
      float: right;
    }
  }
}
.inline-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $black-olive;
  .btn-outline-secondary{
    border: none;

  height: 45px;
    &:focus,&hover{
      background-color: transparent;
      color: $black-olive;
      border: none;
      box-shadow: none;
    }
  }
  input{
    height: 45px;
    border-radius: 4px !important;
  }
}

.inline-group .form-control {
  text-align: right;
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wc-tabs{
  background-color: $secondary;
  height: 45px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before{
  box-shadow: none;
  border: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
  height: 100%;
  margin-top: 4px;
  border: none;
  border-radius: 0;
  background-color: $secondary;
  color: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  background: #fff;
  z-index: 2;
  border-bottom-color: #fff;
  color: #000;

}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: #fff;
  margin-top: 7px;
  font-size: 11px;
  @media(max-width:$md){
    font-size: 10px;
    margin-top: 9px;
  }
  &:hover{
    color: #000;
  }
}

.woocommerce div.product .woocommerce-tabs .panel{
  h2{
    &:first-child{
      display: none;
    }
  }
  strong{
    color: $secondary;
    margin-bottom: 20px;
    display: block;
  }
  margin-top: 48px;
  line-height: 22px;
  font-size: 12px;
}

@media only screen and (max-width: 480px){
  .woo-variation-product-gallery {
    width: 100%;
    max-width: 100% !important;
    margin: auto;
  }
}

.woo-variation-gallery-wrapper .woo-variation-gallery-trigger{
  display: none !important;
}

.woocommerce div.product form.cart .reset_variations {
  display: none !important;
}

#pa_colour{
  display: block !important;
  background: none;
  border: none;
  text-align-last: center;
}

.woo-variation-items-wrapper{
    display: flex;
    flex-direction: column-reverse;

}


.note-product-wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.note-product{
  @media(max-width:$md){
    margin-top: 15px;
  }
  font-size: 11px;
  line-height: 22px;
  /* or 200% */

  letter-spacing: 0.7px;
  a{
    color: $secondary;
    font-weight: 600;
  }
}

#add_payment_method .wc-proceed-to-checkout, .woocommerce-cart .wc-proceed-to-checkout, .woocommerce-checkout .wc-proceed-to-checkout{
  .btn-primary{
    width: 100%;
  }
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{

  height: 45px;

  border: 1px solid #DDE3E8;
  box-sizing: border-box;
  border-radius: 3px;
}


.select2-container--default .select2-selection--single {

  height: 45px;

  border: 1px solid #DDE3E8;
  box-sizing: border-box;
  border-radius: 3px;
  span{
    line-height:43px !important
  }
}



.select2-container--default .select2-selection--single .select2-selection__arrow{
  margin-top: 8px;
} 
.woocommerce form .form-row label, .woocommerce-page form .form-row label{
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
  /* identical to box height */
  color: #495057;

}

.woocommerce form .form-row .required{
  color: #495057;
  font-weight: 600;
  font-size: 12px;
}

.woocommerce-checkout{
  h3{
    color: $secondary;
    text-transform: uppercase;
    color: #0582C2;
    margin-bottom: 23px;
  }
}



.woocommerce form .form-row {
    padding: 3px;
    margin: 0 0 6px;
}
.woocommerce form .form-row-first, .woocommerce-page form .form-row-first{
  width: 100%;
  float: none;
}

.woocommerce form .form-row-first, .woocommerce-page form .form-row-last{
  width: 100%;
  float: none;
}


.woocommerce-checkout-review-order{
  display: flex;
  flex-direction: column-reverse;
}

#customer_details{
  background: #E5E5E5;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media(max-width:$md){
    flex-direction: column;
  }
  .col-white{

    background: #ffff;
    padding: 11px;
  }
  .col-grey{
    background: #E5E5E5;
  }
  .col-cols{
    margin: 15px;
    width: 50%;
    padding: 11px;
    @media(max-width:$md){
      width: unset
    }
  }
}


#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment{
  background: none;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;


    background: #fff;
    padding: 11px;
    border-radius: 0;
}

.order-summary{
  margin-top: 17px;
  background: #fff;
  padding: 11px;
}

.woocommerce-checkout-review-order {
  .cart-subtotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    @media(max-width:$md){
      
      flex-direction: column;
    }
  }

  .cart-sub-title{
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #495057;

    display: block;
    @media(max-width:$md){
      
      margin-top: 15px;
    }
  }

  .cart-sub-title-small{
    display: block;
    font-size: 10px;
    letter-spacing: 0.7px;
    color: #414141;
    @media(max-width:$md){
      
      margin-bottom: 5px;
    }
    
  }

  .cart-sub-amount, label{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #000000;
  }

  .place-order{
    display: none;
  }
  .cart_item{
    margin-bottom: 16px;

    @media(max-width:$md){
      border-bottom: solid #eee 1px;
      padding-bottom: 15px;
      &:last-child{
        border-bottom: none;
      }
    }
  
    p,dd{
      margin: 0;
    }
    .product-qty{
      text-align: center;
    }
    .product-total{
      text-align: right;
      @media(max-width:$md){
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
      }
    }
    .product-name{
      display: flex;
      flex-direction: row;
      .qty{
        padding-right: 20px;
      }
    }
  }

}


.order-total-full-width{
  width: 100%;
  background: $secondary;
  color: #fff;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media(max-width:$md){
    padding-left: 10px;
    padding-right: 10px;
  }
  .heading{
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  .amount{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.7px;
  }
}

.delivery-info{
  padding: 25px;
  background: #fff;
  font-size: 10px;
  color: #495057;

  span{
    &:last-child{
      color: #D84E4B;
    }
  }
}

.complete-order{
  background: #fff;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.btn-jumbo{
  background: #F8B73A;
  max-width: 180px;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  color: #fff !important;

}

.woocommerce-terms-and-conditions-wrapper{
  display: none;
}


#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods{
  border: none;
}


#add_payment_method .cart-collaterals .cart_totals .woocommerce-shipping-destination, .woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-destination, .woocommerce-checkout .cart-collaterals .cart_totals .woocommerce-shipping-destination {
  color: #D84E4B;
  font-size: 12px;
}


.woocommerce .woocommerce-customer-details .woocommerce-customer-details--email, .woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone{
  margin-top: 15px;
}

.menu-cart{
  background-image: url('../img/icon/cart-blue.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
  width: 37px;
  height: 37px;
  @media(min-width: $lg){
    justify-self: center;
    align-self: center;
  }
  .nav-link{
    color: rgba(0,0,0,0) !important;
  }
}


.modal{
  // display: block;
  // opacity: 1 !important;
}
.modal-dialog{
  max-width: 800px;
  .modal-content{
    margin-top: 10%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
    }
  
  }
}



.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
  height: 40px;
  background: $secondary;
  border-radius: 4px; 
  color: #fff !important;
  justify-content: center;
  align-items: center;
  &:hover{
    opacity: 0.5;
    background: $secondary;
    color: #fff;
  }
}

.reset_variations{
  display: none;
}

#homeModal{
  
  .modal-header{
    height: 300px;
    background: $ford-grey;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .close{
      margin-top: 5px;
      margin-right: 5px;
      opacity: 1;
      span{
        display: block;
        width: 16px;
        height: 16px;
        background: url('../img/icon/close.svg');
      }
    }
  }
  .modal-body{
    padding: 20px;
    @media(min-width:$md){
      padding: 40px;
    }
    h2{
      font-weight: bold;
      font-size: 28px;
      text-align: center;
      letter-spacing: 1.5px;
      color: $secondary;
      margin-bottom: 30px;
    }
    p{

      font-weight: 500;
      font-size: 13px;
      line-height: 26px;

      text-align: center;
      letter-spacing: 0.7px;

      color: #000000;
    }

    .modal-action{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }
  }

}

.contact-us-banner{
  h1{
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    letter-spacing: 1.5px;
    color: #0582C2; 
    text-shadow: 2px 2px #fff;

  }
}

.contact-header{
  .contact-header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.5px;
      margin-top: 30px;

      color: #000000;
    }
  }
}

.contact-panel{
  padding-top: 0 !important;
  .grad-wrapper{
    .grad-panel{
      padding: 63px;
      height: 550px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 8px;
      h2{
        font-weight: 500;
        font-size: 28px;
        line-height: 42px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        text-transform: none;
        max-width: 288px;
        text-align: left;
      }
      p,a{
        font-weight: 500;
        font-size: 13px;
        color: #FFFFFF;
        max-width: 288px;
        text-align: left;
      }
    }
    .pan-blue{
      background: linear-gradient(52.92deg, #0582C2 15.91%, rgba(5, 130, 194, 0.67808) 79.19%, rgba(5, 130, 194, 0) 119.56%);
      max-height: 550px;
    }
    .pan-green{
      max-height: 271px;
      @media(max-width: $md){
        max-height: 100%;
      }
      background: linear-gradient(72.32deg, #256727 58.13%, rgba(34, 114, 44, 0) 193.23%);    }
    }
    .pan-gold{
      max-height: 271px;
      @media(max-width: $md){
        max-height: 100%;
      }
      background: linear-gradient(71.16deg, #9F9329 56.37%, #E9E197 98.95%);
    }
    .arrow-wrapper{
      img{
        width: 146px;
        margin-top: 26px;
        margin-bottom: 26px;
      }
    }
}

.codedropz-upload-handler{
  border: 0.3px solid rgba(94, 89, 89, 0.5);

  
 background: #FAFAFA;
}
.contact-form-pannel{
  padding-top: 0;
  h2{
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color:$secondary;
    text-transform: none;
  }
  .wpcf7-form-control{
    margin-top: 20px;
    background-color: #FAFAFA;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 18px;
    color: #495057;
  }
  .formats, .size{
    font-size: 8px;
    line-height: 16px;
    text-align: right;

    color: #495057;
  }
  .size{
    color: #D84E4B;
  }

  .submitBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wpcf7-response-output{
      display: block !important;
      margin: 0;
    }
  }
  .contact-card{
    padding: 37px;border-radius: 6px;
  }
  label{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #495057;
  }
  textarea{
    margin-bottom: 26px;
  }
  input, textarea, select{
    background-color: #FAFAFA !important;
  }

}

#contactSubmit{
  width: 148px;
  border: none;
  background-color: $secondary !important;
  color: #fff;
}

#drop_file_zone {
  background-color: #FAFAFA;
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#drag_upload_file {
width:50%;
margin:0 auto;
}
#drag_upload_file p {
text-align: center;
}
#drag_upload_file #selectfile {
display: none;
}

.codedropz-upload-wrapper{
  h3{
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #495057;
    display: none;
  }
  .codedropz-upload-container{
    span{

      font-size: 11px;
      line-height: 16px;
      text-align: center;
      color: #495057;
      &:before{
        content: "Drop files here ";
        font-size: 11px;
        line-height: 16px;
        text-align: center;
        color: #495057;
      }
    }
  }
  .codedropz-btn-wrap{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
    a{
      background: #6BA1BD;
      color: #fff;
      border-radius: 3px;
      width: 130px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      align-self: center;
    }
  }
}

.wpcf7-response-output{
  border: none !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #495057;
  display: none;
}

.btn-link{
  color: $secondary;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  p{
    margin: 0;
  }
  img{
    margin-left: 5px;
    width: 26px;
    height: 16px;
  }
  &:hover{
    color: $secondary;
  }
}

.social-holder{
  margin-top: 47px;
  display: flex;
  flex-direction: row;
  .social-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height, or 119% */

    letter-spacing: 1px;

    color: $secondary
  }
  .social-icon{
    max-width: 22px;
    width: 100%;
    margin-left: 20px;
  }

}